body {
        margin: 0;
        font-family: "Poppins", sans-serif;
        background-color: #E1C699;
        color: #3E2F22; 
    }
    header {
        padding: 15px 40px;
        box-shadow: 0 2px 10px gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        background-color: #C9A873;
    }
    .nav{
        display: flex;
        justify-content: end;
        list-style: none;
        gap: 40px;
        margin: 0;
        padding: 0;
    }
    .nav a {
        text-decoration: none;
        color: #3E2F22;
        font-weight: 500;
        padding: 10px;
        border-radius: 5px;
    }
    .nav a:hover {
        background-color: #3E2F22;
        color: #E1C699;
    }
    #logo img{
        width: 90px;  
        height: auto;
    }
    #title{
        text-align: center;
        font-size: xx-large;
        font-weight: bolder;
    }
    #imgcontainer {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40px;
        gap: 30px;
        margin-bottom: 80px;
    }
    #imgcontainer img {
        width: 30%;
        display: block;
    }
    .textover{
        max-width: 50%;
        padding: 0 20px;
    }
    .textover h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 40px;
    }
    .textover .text1 {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 25px;
    }
    .helpsec{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        border-top: thin solid #b39567;
        border-bottom: thin solid #b39567;
    }
    .ns{
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
        background-color: #fff4c2;
        border-radius: 10px;
        padding: 20px;
        width: 40%;
        margin-top: 70px;
    }
    .nsbox{
        padding: 30px;
    }
    .ns input,.ns textarea{
        background-color: #d2b48c;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 10px;
        border-radius: 7px;
        width: 90%;
    }
    .ns textarea{
        height: 150px;
    }
    .ns button{
        background-color: #d2b48c;
        border-radius: 7px;
        padding: 10px;
        font-size: large;
        font-weight: bold;
        width: 300px;
        margin-bottom: 30px;
    }
    .helplist{
        margin-top: 0;
    }
    .helplist h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .helplist ol {
        list-style-position: inside;
        padding-left: 0;
    }
    .helplist li {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .info{
        display: flex;
        gap: 40px;
        justify-content: center;
        margin-top: 70px;
    }
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box{
        background-color:  rgba(255, 251, 251, 0.7);
        padding: 20px;
        border-radius: 20px;
        max-width: 300px;
        margin: 25px 0;
    }
    .box h1 {
        font-size: large;
    }
    .box i{
        font-size: larger;
    }
    .contact :hover{
        background-color:  #3E2F22;
        color: #b39567;
        color: #E1C699 ;
    }
    .map{
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    #maptext{
        text-align: center;
        margin-bottom: 40px;
    }
    footer{
        background-color: #C9A873;
    }
    .f{
      display: flex;
      justify-content: space-between;
      margin: 40px;
      align-items: center;
      border-bottom: thin solid #d2b48c;

    }
    .f h1{
        margin-left: 40px;
    }
   .f img{
        width: 90px;  
        height: auto;
        margin-bottom: 5px;
        margin-left: 30px;
    }
    #icons{
        font-size: 30px;
    }
    .quicklink{
        display: flex;
        justify-content: flex-start;
        margin: 40px;
        gap: 80px;
        line-height: 1.5;
    }
    .quicklink ul{
        list-style-type: none;
    }
    .quicklink li :hover{
        text-decoration: underline;
    }
    .footnav a{
        text-decoration: none;
        color: #3E2F22;
    }
    .end{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #b39567;
        height: 40px;
    }
@media (min-width: 600px) and (max-width: 1240px) {
    header {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }
    .nav {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 17px;
    }
    #imgcontainer {
        flex-direction: column;
        text-align: center;
    }
    #imgcontainer img {
        width: 60%;
        margin: 0 auto;
    }
    .textover {
        max-width: 90%;
    }
    .helpsec {
        flex-direction: column;
    }
    .ns {
        width: 80%;
    }
    .info {
        flex-direction: column;
        align-items: center;
    }
    .contact{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .map {
        width: 90%;
    }
}
@media only screen and (max-width: 600px){
    header {
        padding: 10px;
        gap: 20px;
        flex-direction: column;
    }
    .nav {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    .nav a:hover{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #logo img {
        width: 70px;
    }
    #imgcontainer{
        flex-direction: column;
        align-items: center;
    }
    #imgcontainer img {
        width: 90%;
    }
    .textover h1 {
        font-size: 25px;
    }
    .textover .text1 {
        font-size: 15px;
        padding: 0 5px;
    }
    .helpsec {
        flex-direction: column;
        padding: 20px 10px;
        gap: 10px;
    }
    .ns {
        width: 80%;
    }
    .info {
        padding: 0 10px;
    }
   footer {
        text-align: center;
    }
    .f {
        flex-direction: row;
        gap: 20px;
    }
    .quicklink {
        flex-direction: row;
       justify-content: center;
        text-align: center;
        gap: 20px;
    }
    .f img{
        width: 70px;
        margin-top: 10px;
    }
    #icons i {
        margin: 0 5px;
    }
    .container{
        flex-wrap: wrap;
    }
    #icons i {
        font-size: 15px;
        margin: 0 5px;
    }
    .info{
        flex-direction: column;
        align-items: center;
    }
    .map{
        width: 90%;
    }
}