body {
        margin: 0;
        font-family: "Poppins", sans-serif;
        background-color: #E1C699;
        color: #3E2F22; 
    }
    header {
        padding: 15px 40px;
        box-shadow: 0 2px 10px gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        background-color: #C9A873;
    }
    #logo img{
        width: 90px;  
        height: auto;
        margin-bottom: 5px;
    }
    .nav{
        display: flex;
        justify-content: end;
        list-style: none;
        gap: 40px;
        margin: 0;
        padding: 0;
    }
    .nav a {
        text-decoration: none;
        color: #3E2F22;
        font-weight: 500;
        padding: 10px;
        border-radius: 5px;
    }
    .nav a:hover {
        background-color: #3E2F22;
        color: #E1C699;
    }
    #logo {
        font-size: 10px;
        font-weight: 700;
    }
    #imgcontainer {
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
    #imgcontainer img {
        width: 100%;
        height: 600px;
        display: block;
    }
    .textover {
        width: 50%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #3E2F22;
        background-color: rgba(255, 251, 251, 0.7);
        padding: 20px 40px;
        border-radius: 15px;
    }
    .textover h2 {
        margin-bottom: 30px;
        font-size: 80px;
    }
    .buttons button{
        background-color: #3E2F22;
        color: #C9A873;
        font-size: 20px;
        padding: 10px;
        margin:20px;
        border-radius: 10px;
        border: none;
    }
    .buttons button:hover{
        background-color:rgba(255, 251, 251, 0.7);
        color: #3E2F22;
    }
    .studytips {
        background-color: #fff4c2;
        margin: 40px auto;
        width: 80%;
        padding: 25px;
        border-radius: 15px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    }
    .studytips li{
        list-style: none;
        line-height: 1.5;
    }
    .focussounds{
        margin: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: thin solid #b39567;
        border-top: thin solid #b39567;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 20px;
    }
    .container i{
        font-size: 32px;
    }
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   footer{
        background-color: #C9A873;
    }
    .f{
      display: flex;
      justify-content: space-between;
      margin: 40px;
      align-items: center;
      border-bottom: thin solid #d2b48c;
    }
    .f img{
        width: 90px;  
        height: auto;
        margin-bottom: 5px;
        margin-left: 30px;
    }
    #icons{
        font-size: 30px;
    }
    .quicklink{
        display: flex;
        justify-content: flex-start;
        margin: 40px;
        gap: 80px;
        line-height: 1.5;
    }
    .quicklink ul{
        list-style-type: none;
    }
    .quicklink li :hover{
        text-decoration: underline;
    }
    .footnav a{
        text-decoration: none;
        color: #3E2F22;
    }
    .end{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #b39567;
        height: 40px;
    }
@media (min-width: 600px) and (max-width: 1240px)  {
    header {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .nav {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    #logo img {
        width: 80px;
    }
    #imgcontainer img {
        height: 400px;
        object-fit: cover;
    }
    .textover {
        width: 80%;
        padding: 20px;
    }
    .textover h1 {
        font-size: 26px;
    }
    .studytips {
        width: 90%;
        padding: 20px;
    }
    .container {
        flex-wrap: wrap;
    }
    .quicklink {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }
}
@media only screen and (max-width: 600px){
    header {
        padding: 10px;
        gap: 20px;
        flex-direction: column;
    }
    .nav {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    .nav a:hover{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #logo img {
        width: 70px;
    }
    #imgcontainer img {
        height: 300px;
    }
    .textover {
        width: 70%;
        height: 230px;
        padding: 15px;
    }
    .textover h1 {
        font-size: 20px;
    }
    .textover h2{
        font-size: 60px;
    }
    .buttons button {
        font-size: 15px;
        padding: 7px 15px;
        margin: 5px;
    }
    .studytips {
        width: 85%;
        padding: 15px;
    }
    .container {
        flex-direction: column;
        gap: 10px;
    }
    footer {
        text-align: center;
    }
    .f {
        flex-direction: row;
        gap: 20px;
    }
    .quicklink {
        flex-direction: row;
       justify-content: center;
        text-align: center;
        gap: 20px;
    }
    .f img{
        width: 70px;
        margin-top: 10px;
    }
    #icons i {
        margin: 0 5px;
    }
    .container{
        flex-wrap: wrap;
    }
    #icons i {
        font-size: 15px;
        margin: 0 5px;
    }
      #icons i {
        font-size: 15px;
        margin: 0 5px;
    }
}
