body {
        margin: 0;
        font-family: "Poppins", sans-serif;
        background-color: #E1C699;
        color: #3E2F22; 
    }
    header {
        padding: 15px 40px;
        box-shadow: 0 2px 10px gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        background-color: #C9A873;
    }
    .nav{
        display: flex;
        justify-content: end;
        list-style: none;
        gap: 40px;
        margin: 0;
        padding: 0;
    }
    .nav a {
        text-decoration: none;
        color: #3E2F22;
        font-weight: 500;
        padding: 10px;
        border-radius: 5px;
    }
    .nav a:hover {
        background-color: #3E2F22;
        color: #E1C699;
    }
    #logo img{
    width: 90px;
    height: auto;
    }
    .intro{
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
    .intro img {
        width: 100%;
        height: 600px;
        display: block;
    }
    .textbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #3E2F22;
        background: rgba(255, 251, 251, 0.7);
        padding: 60px 80px;
        font-size: large;
        line-height: 1.5;
    }
    .p1{
        padding: 40px 60px;
    }
    .p1 h2 {
        font-size: larger;
        margin-bottom: 20px;
        text-align: center;
        margin-bottom: 30px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
    }
    .webbox{
        background: #fff4c2;
        width: 320px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition: 0.3s;
    }
    .webbox:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    }
    .webbox h3 {
        margin: 0;
        font-size: 20px;
    }
    .webbox p {
        margin: 0;
        font-size: 15px;
        line-height: 1.5;
    }
    .webbox a {
        margin-top: 10px;
        text-decoration: none;
        font-weight: bold;
        transition: 0.3s;
        color: #b39567;
    }
    .webbox a:hover {
        color: #3E2F22;
    }
     footer{
        background-color: #C9A873;
    }
    .f{
      display: flex;
      justify-content: space-between;
      margin: 40px;
      align-items: center;
      border-bottom: thin solid #d2b48c;

    }
    .f img{
        width: 90px;  
        height: auto;
        margin-bottom: 5px;
        margin-left: 30px;
    }
    #icons{
        font-size: 30px;
    }
    .quicklink{
        display: flex;
        justify-content: flex-start;
        margin: 40px;
        gap: 80px;
        line-height: 1.5;
    }
    .quicklink ul{
        list-style-type: none;
    }
    .quicklink li :hover{
        text-decoration: underline;
    }
    .footnav a{
        text-decoration: none;
        color: #3E2F22;
    }
    .end{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #b39567;
        height: 40px;
    }
@media only screen and (min-width: 600px) and (max-width: 1024px){
    header {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }
    .nav {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 17px;
    }
    .intro img {
        height: 450px;
        object-fit: cover;
    }
    .textbox {
        width: 70%;
        padding: 25px 35px;
        font-size: 18px;
    }
    .quicklink {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
}
@media only screen and (max-width: 600px){
    header {
        padding: 10px;
        gap: 20px;
        flex-direction: column;
    }
    .nav {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    .nav a:hover{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #logo img {
        width: 70px;
    }
    .intro img {
        height: 250px;
    }
    .textbox {
        padding: 20px 25px;
        font-size: 14px;
    }
    h1, h2, h3 {
        font-size: 90%;
    }
    .p1 {
        padding: 20px 10px;
    }
    .webbox {
        width: 100%;
        padding: 15px;
    }
    #icons {
        font-size: 24px;
    }
    footer {
        text-align: center;
    }
    .f {
        flex-direction: row;
        gap: 20px;
    }
    .quicklink {
        flex-direction: row;
       justify-content: center;
        text-align: center;
        gap: 20px;
    }
    .f img{
        width: 70px;
        margin-top: 10px;
    }
    #icons i {
        margin: 0 5px;
    }
    .container{
        flex-wrap: wrap;
    }
    #icons i {
        font-size: 15px;
        margin: 0 5px;
    }
}
